body {
	background: #000;
	margin: 0;
	padding: 0;
	box-shadow: inset 0px 0px 100px #111;
}
#debug {
	font-family: monospace;
	font-size: 15px;
	color: #FFF;
	overflow: scroll;
	margin-top: 60px;
	margin-left: 10px;
	display: none;
	z-index: 10;
}
.secondary {
	color: #AAA;
}
.extra {
	color: #555;
}
.colon,.dash {
	color: #0F0;
}
canvas {
	position: fixed;
	top:0;
	left:0;
	z-index: 0;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJUlEQVQYV2NkIBIwEqPu69evkkQpBBlGlMLhaSLIV9zc3M/x0QAQfB7jOU7CTQAAAABJRU5ErkJggg==) repeat;
	
}